{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="starter-template">
        <h1>Get<small>Right</small><br/><small>Be</small>Rational</h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <p>We need to make judgements every day - for project deadlines, whether he likes us back (or not), how likely it is we will get that job and how hungry we are when ordering food.
            Humans tend to be overconfident in their subjective confidence concerning those estimates. Luckily, we think, it's possible to change that.</p>
            <p>Many of the world's biggest decisions are built on overconfidence. George W. Bush famously invaded Iraq convinced to find weapons of mass destruction, and believed to pacify the country in a matter of months. But it's not just politicians, it's you too! When polled, 93% of US drivers reported they consider themselves better than average. This game will help you to understand overconfidence, and even better, to become more rational over time.</p>
            <p>Our goal is to provide a tool to calibrate yourself by answering questions within a confidence interval, then get feedback on how well your confidence models your certainty about a subject. When using our app you will notice that you're getting better in your judgements over time and be able to accurately model your own uncertainty. Our hope is that this generalizes to other domains and will help you make better judgements in other aspects of your life</p>
            <p>See also: <a href="https://en.wikipedia.org/wiki/Overconfidence_effect">The Wikipedia article</a></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            About this project
        </div>
        <div class="panel-body">
            <p>This was a project made during <a href="http://www.hackzurich.com">HackZurich 2016</a> by a team of four. The source can be found on <a href="https://github.com/xperimental/hackzurich2016">GitHub</a>.
        </div>
    </div>

</div>

{{ template "footer.html" . }}
