{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            Your evaluation
        </div>
        <div class="panel-body">
            {{ .Answers | evaluation }}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Your score
        </div>
        <table class="panel-body table">
            <tbody>
                <tr>
                    <td>Correct</td>
                    <td>
                        {{ .Answers | correct }}
                        {{ $correct := .Answers | correct }}
                        {{ $target := .Answers | target }}
                        {{ if lt $correct $target }}
                        <span class="glyphicon glyphicon glyphicon-download" aria-hidden="true"></span>
                        {{ else if gt $correct $target }}
                        <span class="glyphicon glyphicon glyphicon-upload" aria-hidden="true"></span>
                        {{ end }}
                    </td>
                    <td>Target</td>
                    <td>{{ .Answers | target }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Questions
        </div>
        <table class="panel-body table">
            <tbody>
                <tr>
                    {{ range $i, $a := .Answers }}
                    <td class="text-center {{ $a | tableClass }}">
                        {{ $i }}
                    </td>
                    {{ end }}
                </tr>
            </tbody>
        </table>
    </div>

    <div class="top-buffer">
        <a href="/" class="btn btn-default " id="cancelGame">Home</a>
        <a href="/play" class="btn btn-success pull-right" id="nextQuestion">New game</a>
    </div>

    <div class="panel panel-default top-buffer">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <div class="panel-heading text-center">
                History
            </div>
        </a>
        <div id="collapseOne" class="panel-collapse collapse">
            <table class="panel-body table">
                <tbody>
                    {{ range .History }}
                    <tr>
                        {{ range $i, $a := .Answers }}
                        <td class="text-center {{ $a | tableClass }}">
                            {{ $i }}
                        </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>

</div>

{{ template "footer.html" . }}
