{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="jumbotron">
        {{ .Answers | evaluation }}
    </div>

    <table class="table table-bordered">
        <thead>
            <th>Questions</th>
        </thead>
        <tbody>
            {{ range .Answers }}
            <tr class="{{ . | tableClass }}">
                <a href="">
                    <td>{{ .Question.Text }}</td>
                </a>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>

{{ template "footer.html" . }}
