{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <table class="table table-striped">
        <thead>
            <th>Question</th>
            <th>Valid range</th>
            <th>Your range</th>
        </thead>
        <tbody>
            {{ range .Answers }}
            <tr class="{{ . | tableClass }}">
                <td>{{ .Question.Text }}</td>
                <td>{{ .Question.BoundLow }}&nbsp–&nbsp{{ .Question.BoundHigh }} {{ .Question.Unit }}</td>
                <td>{{ .LowerBound }} –&nbsp{{ .UpperBound }} {{ .Question.Unit }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>

</div>

{{ template "footer.html" . }}
