{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="progress">
        <div id="gameProgress" class="progress-bar" role="progressbar" style="width: 30%;">30%</div>
    </div>

    <div class="jumbotron">
        <h3 id="question">
            How many interesting questions are there?
        </h3>
    </div>

    <div class="input-group input-group-lg" id="boundGroup">
        <input type="number" class="form-control" placeholder="min" id="lowerBound" value="25">
        <span class="input-group-addon">–</span>
        <input type="number" class="form-control" placeholder="max" id="upperBound" value="30">
        <span class="input-group-addon" id="unit">Questions</span>
    </div>

    <div class="top-buffer">
        <a href="#" class="btn btn-lg btn-danger" id="cancelGame">Cancel game</a>
        <a href="#" class="btn btn-lg btn-success pull-right" id="nextQuestion">Next question</a>
    </div>

</div>

<script>
$(document).ready(function() {
    introJs().oncomplete(function() {
        window.location.replace("/help/elements");
    }).onexit(function() {
        window.location.replace("/");
    }).setOptions({
        skipLabel: "Exit",
        steps: [
            {
                intro: `<p>Welcome to Get Rational!</p>
                <p>The goal of this project is to help you calibrate your confidence levels in probability estimates.</p>
                <p>It's not about knowing things about the world, it's about getting a better feeling for what you know about the world and the limits of this knowledge.</p>`
            },
            {
                intro: `<p>Many of the world's biggest decisions are built on overconfidence. George W. Bush famously invaded Iraq convinced to find weapons of mass destruction, and believed to pacify the country in a matter of months. But it's not just politicians, it's you too! When polled, 93% of US drivers reported they consider themselves better than average. This game will help you to understand overconfidence &mdash; and even better, to become more rational over time.</p>`
            },
            {
                intro: `<p>We will ask you Questions that will be hard to answer correctly, e.g.: "How many hairs are on your head?" we want ballpark estimates to these questions and don't expect exact answers (but if you know them, use them!).<p>`
            },
            {
                intro: `<p>Your answers will consist of a lower and upper bound for your estimate. The values should be chosen in a way that you think it's equally likely that the true answer is within or outside that range.</p>`
            },
            {
                intro: `<p>So when you have a question like "How many christians live in New York?" and you expect the answer to be ~500k but are relatively uncertain, you could give a lower value of 50k and an upper value of 5000k, about 50% of your answers should be correct.
                Most people who try this for the first time end up with ~2 correct answers...</p>
                <p>Good luck.</p>`
            }
        ]
    }).start();
});
</script>

{{ template "footer.html" . }}
