{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="progress">
        <div id="gameProgress" class="progress-bar" role="progressbar" style="width: 30%;">30%</div>
    </div>

    <div class="jumbotron">
        <h3 id="question">
            How many interesting questions are there?
        </h3>
    </div>

    <div class="input-group input-group-lg" id="boundGroup">
        <input type="number" class="form-control" placeholder="min" id="lowerBound" value="25">
        <span class="input-group-addon">–</span>
        <input type="number" class="form-control" placeholder="max" id="upperBound" value="30">
        <span class="input-group-addon" id="unit">Questions</span>
    </div>

    <div class="top-buffer">
        <a href="#" class="btn btn-lg btn-danger" id="cancelGame">Cancel game</a>
        <a href="#" class="btn btn-lg btn-success pull-right" id="nextQuestion">Next question</a>
    </div>

</div>

<script>
$(document).ready(function() {
    introJs().oncomplete(function() {
        window.location.replace("/help/elements");
    }).onexit(function() {
        window.location.replace("/");
    }).setOptions({
        skipLabel: "Exit",
        steps: [
            {
                intro: "Hello!"
            }
        ]
    }).start();
});
</script>

{{ template "footer.html" . }}
