{{ template "header.html" . }}

{{ template "nav.html" . }}

<div class="container">

    <div class="progress">
        <div id="gameProgress" class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
    </div>

    <div class="jumbotron">
        <h3 id="question">
            Question text?
        </h3>
    </div>

    <div class="input-group input-group-lg" id="boundGroup">
        <input type="number" class="form-control" placeholder="min" id="lowerBound" tabindex="1">
        <span class="input-group-addon">–</span>
        <input type="number" class="form-control" placeholder="max" id="upperBound" tabindex="2">
        <span class="input-group-addon" id="unit">Unit</span>
    </div>

    <div class="top-buffer">
        <a href="/" class="btn btn-lg btn-danger" id="cancelGame" tabindex="4">Cancel game</a>
        <a href="#" class="btn btn-lg btn-success pull-right" id="nextQuestion" tabindex="3">Next question</a>
    </div>

</div>

<form method="post" action="/game" id="gameForm">
    <input type="hidden" name="data" id="formData" />
</form>

<script>
$(document).ready(function() {
    var questions = {{ .Questions | json }};
    initGame({{ .ID }}, questions);
});
</script>

{{ template "footer.html" . }}
